.empTable{
    margin-left: auto;
    margin-right: auto;
}
.EmpDataForm{
    margin-top: 20px;
}
td{
    text-align: left;
}
.d-none{
    display: none;
}
button.btn {
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 20px;
}
ul{
    list-style-type: decimal;
    padding-left: 0px;
}
ul.subAdd{
    list-style-type: none;
}
li>span{
    margin-left: 5px;
}
.input-group>div>*{
    margin-right: 10px;
}
.input-group, .showData{
    margin-top: 20px;
}
.searchContainer {
    border-style: groove;
    margin-top: 10px;
    margin-right: 10px
}
.searchButtons{
    margin-bottom: 10px;
}
.searchMsg{
    text-align: left;
}
.errMsg{
    font-size: 16px;
    font-weight: 700;
    color: red;
    margin-top: 20px;
}