<div class="searchContainer">
  <form class="EmpSearchForm" #searchEmp="ngForm" (ngSubmit)="searchForm(searchEmp.value)">
    <div class="empDataHeader">
      <h5>Search For Employee</h5>
    </div>
      <div class="input-group row">
        <div class="col">
          <label for="age"> Age</label>
          <input id="age" [(ngModel)]="searchEmp.age" type="text" name="age" placeholder="Enter Age" autofocus ngModel>
        </div>
        <div class="col"> 
            <label for="gender"> Gender</label>
            <span id="gender">
              <input type="radio" name="gender" value="male"  ngModel checked>Male
              <input type="radio" name="gender" value="female" ngModel>Female
              <input type="radio" name="gender" value="others" ngModel>others
            </span>
        </div>
        
            
      </div>
      <div class="row searchButtons" >
        <div class="col">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-secondary" (click)="clearFilterData()" type="reset">Clear</button>
        </div>
      </div>
    </form>

  </div>
  <div class="showData"*ngIf="filteredData.length!=0">
    <div class="searchMsg">
      <h5>Below are the details for the Searched Criteria:</h5>
    </div>
    <table id="example" class="table table-responsive" border="1px solid #000000">
      <thead>
        <tr>
            <th>EmpID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let empData of filteredData">
          <td>{{empData.empId}}</td> 
          <td>{{empData.name}}</td>
          <td>{{empData.gender}}</td>
          <td>
            <ul>
              <li *ngFor="let email of empData.email;let i=index;">{{i+1}}.<span>{{email}}</span></li>
            </ul>
          </td>
          <td>{{empData.dob}}</td>
          <td>{{empData.desig}}</td>
          <td>{{empData.dept}}</td>
          <td>
            <ul>
              <li *ngFor="let address of empData.address;let i=index;">{{i+1}}.<span>{{address}}</span></li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let phone of empData.phone;let i=index;">{{i+1}}.<span>{{phone}}</span></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  