.empTable{
    margin-left: auto;
    margin-right: auto;
}
.EmpDataForm{
    margin-top: 20px;
}
td{
    text-align: left;
}
.d-none{
    display: none;
}
button.btn {
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 20px;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
li>span{
    margin-left: 5px;
}
.table thead th {
    border-right: 1px solid white;
    border-bottom: 1px solid #dee2e6;
}
.table>thead{
    background-color: black;
    color: white;
}
.input-group>div>*{
    margin-right: 10px;
}
.input-group, .showData{
    margin-top: 20px;
}
.searchContainer {
    border-style: groove;
    margin-top: 10px;
}
.searchButtons{
    margin-bottom: 10px;
}
.searchMsg{
    text-align: left;
}