.headerContainer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header{
    margin-top: 0;
    margin-bottom: 0;
}