.gitUserContainer{
    border: groove;
    margin-top: 10px;
    margin-right: 10px
}
.ng-autocomplete{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
span.link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}
span.link:hover{
    color: #007bff;
}
label{
    margin-top: .5rem;
}
.selectedUser{
    background-color: #666666;
    color: white;
}
.defaultContent{
    margin-right: 5%;
    font-weight: 600;
}
