
<div class="ng-autocomplete">
  <span class="defaultContent">Search for Git User</span>
  <ng-autocomplete
    [data]="usersData"
    [searchKeyword]="keyword"
    placeHolder="Enter the Git User Name"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    historyIdentifier="usersData"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.login"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
<div *ngIf="selectedUsersDetails" class="selectedUser">
  <div class="row">
    <div class="col"> 
      <label> User Name :</label>
      <span (click)="showRepos()" class="link">
          {{selectedUsersDetails.login}}
      </span>
    </div>
    <div class="col"> 
        <label>ID :</label>
        {{selectedUsersDetails.id}}
    </div>
    <div class="col"> 
      <label>Followers # :</label>
      {{userFollower}}
    </div>
    <div class="col"> 
      <label>Following # :</label>
      {{userFollows}}
    </div>
  </div>
</div>

<div id="selectedUser" class="d-none">
  <table #repoDataTable class="display table" style="width:100%">
    <thead>
      <tr>
        <th>Repo Name</th>
        <th>Created Date</th>
        <th>Issues #</th>
        <th>License</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let repo of selectedRepo">
        <td>{{repo.name}}</td>
        <td>{{repo.created_at}}</td>
        <td>{{repo.open_issues_count}}</td>
        <td>
          <span *ngIf="repo.license;else elseBlock">{{repo.license.name}}</span>
          <ng-template #elseBlock>N/A</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>