
<form class="EmpDataForm" #empData="ngForm" (ngSubmit)="submitForm(empData.value)">
  <div class="empDataHeader">
    <h5>Enter Employee Details</h5>
  </div>
  <div class="input-group">
    <table class="empTable">
      <tr>
        <td><label for="name"> Name</label></td>
        <td><input [(ngModel)]="empData.name" type="text" name="name" minlength="4" maxlength="30" placeholder="Enter Name" autofocus  required  #name="ngModel">
        </td>
        <td>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger errorMsg">
            <div class="commError" *ngIf="name.errors?.required">
              Name is required.
            </div>
            <div class="commError" *ngIf="name.errors?.minlength">
              Name must be at least 4 characters long.
            </div>
            <div class="commError" *ngIf="name.errors?.maxlength">
              Name cannot be more than 15 characters.
            </div>
            <!--<div class="commError" *ngIf="name.errors.pattern"> 
              Name can only consist Alphabets.
           </div>--> 
          </div>
        
        </td>
      </tr>
      <tr>
        <td><label for="dob"> Date of Birth</label></td>
        <td><input id="dob" [(ngModel)]="empData.dob" type="Date" name="dob" ngModel></td>
      </tr>
      <tr>
        <td><label for="gender"> Gender</label></td>
        <td id="gender">
          <input type="radio" name="gender" value="male"  ngModel checked>Male
          <input type="radio" name="gender" value="female" ngModel>Female
          <input type="radio" name="gender" value="others" ngModel>others
         </td>
      </tr>
      <tr>
        <td><label for="empId"> Employee ID</label></td>
        <td><input id="empId" [(ngModel)]="empData.empId" type="text" name="empId" placeholder="Enter Employee ID" ngModel></td>
      </tr>
      <tr>
        <td><label for="desig"> Designation</label></td>
        <td>
          <select id="desig" name="desig" ngModel>
            <option value="" disabled>--Select--</option>
            <option value="SE">SE</option>
            <option value="SSE">SSE</option>
            <option value="TA">TA</option>
            <option value="PM">PM</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="dept"> Department</label></td>
        <td>
          <select id="dept" name="dept" ngModel>
            <option value="" disabled>--Select--</option>
            <option value="Marketing">Marketing</option>
            <option value="Sales">Sales</option>
            <option value="Purchase">Purchase</option>
            <option value="RnD">RnD</option>
          </select>
        </td>
      </tr>
      <tr [attr.id]="'parentContact'+i"*ngFor="let phone_no of phoneList;trackBy:index;let i = index;">
          <td><label [ngClass]="'contactLabel'+i"> Contact</label></td>
          <td><input [attr.id]="phone_no" (ngModel)="empData.phone_no" type="text" name="{{phone_no}}" placeholder="Enter Phone Number" ngModel></td>
          <!--<td><label [attr.for]="emailList[i]"> Email ID</label></td>-->
          <td><input [attr.id]="emailList[i]" (ngModel)="empData.emailList[i]" type="text" name="{{emailList[i]}}" placeholder="Enter Email ID" ngModel>
            <i (click)="addMoreContact()" [attr.id]="'addIcon'+i" class="fas fa-plus-circle"></i>
            <i (click)="removeContact($event)" [attr.id]="'removeIcon'+i" class="fas fa-minus-circle d-none"></i>
          </td>
      </tr>
      <tr [attr.id]="'parentAddress'+i"*ngFor="let address of addressList;trackBy:index;let i = index;">
        <td><label [ngClass]="'addressLabel'+i"> Address</label></td>
        <td>
          <textarea [attr.id]="address" (ngModel)="empData.address"  name="{{address}}" rows="3" cols="30" placeholder="Enter Address here" ngModel></textarea>
          <i (click)="addMoreAddress()" [attr.id]="'addIconAddress'+i" class="fas fa-plus-circle"></i>
          <i (click)="removeAddress($event)" [attr.id]="'removeIconAddress'+i" class="fas fa-minus-circle d-none"></i>
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-primary" [disabled]="!empData.valid" type="submit">Submit</button>
        </td>
        <td>
          <button class="btn btn-secondary" type="reset">Clear</button>
        </td>
      </tr>
    </table>
    
    
  </div>
</form>

